 .u-section-1 {
  background-image: none;
  min-height: 794px;
}

.u-section-1 .u-image-1 {
  height: 793px;
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-1 .u-shape-1 {
  width: 366px;
  height: 239px;
  background-image: none;
  margin: -362px calc(((100% - 1140px) / 2) + 326px) 0 auto;
}

.u-section-1 .u-group-1 {
  min-height: 376px;
  width: 431px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  background-image: none;
  margin: -410px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: normal;
  width: 234px;
  margin: 16px auto 0;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  margin: 20px auto 0;
  padding: 18px 54px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    margin-right: calc(((100% - 940px) / 2) + 221px);
  }

  .u-section-1 .u-group-1 {
    margin-bottom: 158px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 795px;
  }

  .u-section-1 .u-shape-1 {
    margin-right: calc(((100% - 720px) / 2) + 113px);
  }

  .u-section-1 .u-group-1 {
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-1 {
    margin-top: -365px;
    margin-right: calc(((100% - 540px) / 2) + 21px);
  }

  .u-section-1 .u-group-1 {
    margin-top: -407px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 794px;
  }

  .u-section-1 .u-shape-1 {
    width: 292px;
    margin-top: -362px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-group-1 {
    min-height: 377px;
    width: 340px;
    margin-top: -410px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 528px;
}

.u-section-2 .u-gallery-1 {
  height: 197px;
  margin-top: 166px;
  margin-bottom: 60px;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 15px 15px;
}

.u-section-2 .u-back-slide-1 {
  background-position: 50% 50%;
}

.u-section-2 .u-back-image-1 {
  object-position: 50% 50%;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-2 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-2 .u-back-slide-2 {
  background-position: 50% 50%;
}

.u-section-2 .u-back-image-2 {
  object-position: 50% 50%;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

.u-section-2 .u-back-slide-3 {
  background-position: 50% 50%;
}

.u-section-2 .u-back-image-3 {
  object-position: 50% 50%;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-back-slide-4 {
  background-position: 50% 50%;
}

.u-section-2 .u-back-image-4 {
  object-position: 50% 50%;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-back-slide-5 {
  background-position: 50% 50%;
}

.u-section-2 .u-back-image-5 {
  object-position: 50% 50%;
}

.u-section-2 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 493px;
  }

  .u-section-2 .u-gallery-1 {
    height: 162px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(5, auto);
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 745px;
  }

  .u-section-2 .u-gallery-1 {
    height: 414px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1030px;
  }

  .u-section-2 .u-gallery-1 {
    height: 699px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 528px;
  }

  .u-section-2 .u-gallery-1 {
    height: 197px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: auto auto auto auto auto;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 294px;
}

.u-section-3 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  background-image: none;
  margin: 20px auto 60px;
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 570px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1140px;
  margin: 0 0 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 480px;
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 125px 158px 0 48px;
}

.u-section-4 .u-text-2 {
  margin: 75px 20px 0 40px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 480px;
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  width: 320px;
  height: 301px;
  margin: 0 auto;
}

.u-section-4 .u-text-3 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 39px 48px 0 207px;
}

.u-section-4 .u-icon-1 {
  width: 89px;
  height: 89px;
  background-image: none;
  margin: -80px auto 0 90px;
  padding: 13px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 486px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 581px;
  }

  .u-section-4 .u-text-1 {
    width: 314px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-2 {
    width: 358px;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 581px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 155px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 190px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 562px;
  }

  .u-section-4 .u-text-2 {
    width: 282px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 562px;
  }

  .u-section-4 .u-image-1 {
    width: 300px;
    height: 282px;
  }

  .u-section-4 .u-icon-1 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 290px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 407px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 105px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 32px;
  }

  .u-section-4 .u-container-layout-2 {
    padding: 18px 10px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 12px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 32px;
    margin-bottom: -12px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 323px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    width: 156px;
    margin-top: 53px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 39px;
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 534px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 12px;
    margin-bottom: 0;
  }
}